/* All Pages */
#main-header{
	float: left;
	margin-top: 45px;
	font-family: serif;
	font-size: 36px;
	color: #fff;
}
.showSlide {  
            display: none  
        }  
            .showSlide img {  
                width: 50%;  
            }  
        .slidercontainer {  
            max-width: 1000px;  
            position: relative;  
            margin: auto;  
        }  
        .left, .right {  
            cursor: pointer;  
            position: absolute;  
            top: 50%;  
            width: auto;  
            padding: 16px;  
            margin-top: -22px;  
            color: white;  
            font-weight: bold;  
            font-size: 18px;  
            transition: 0.6s ease;  
            border-radius: 0 3px 3px 0;  
        }  
        .right {  
            right: 0;  
            border-radius: 3px 0 0 3px;  
        }  
            .left:hover, .right:hover {  
                background-color: rgba(115, 115, 115, 0.8);  
            }  
        .content {  
            color: #eff5d4;  
            font-size: 30px;  
            padding: 8px 12px;  
            position: absolute;  
            top: 10px;  
            width: 100%;  
            text-align: center;  
        }  
        .active {  
            background-color: #717171;  
        }  
        
        .fade {  
            -webkit-animation-name: fade;  
            -webkit-animation-duration: 1.5s;  
            animation-name: fade;  
            animation-duration: 1.5s;  
        }  
        @-webkit-keyframes fade {  
            from {  
                opacity: .4  
            }  
            to {  
                opacity: 1  
            }  
        }  
  
        @keyframes fade {  
            from {  
                opacity: .4  
            }  
            to {  
                opacity: 1  
            }  
        }  
    </style>  
</head>  
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.white {
  color: white;
}

body{
  margin-left: 10px;	
  background: rgb(92,86,210);
  background: linear-gradient(180deg, rgba(92,86,210,1) 27%, rgba(0,212,255,1) 77%, rgba(9,9,121,1) 100%);
}
img{
  height: 300px;
}
nav ul{
	height: 60px;
	margin: 0;
    padding: 0;
}

/* Nav Menu */
#navbar {
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
  list-style: none;
  text-align: center;
  background-color: grey;
}

/* Nav Links */
#navbar li {
  display: inline;
}

#navbar a {
  padding: 12px;
  text-decoration: none;
  font-size: 24px;
}

/* Background Mouse Over */
.navbar a:hover {
  background-color: #000;
}
.video{
  align-self:center;
  max-width:66%;
  height:auto;
  border-radius: 5%;
}

/* Resume */
.underline {
  text-decoration: underline;
}
.underline1 {
  text-decoration: underline;
  color: white;
}
.cursive {
	font-family: cursive;
}
/* Index */
.row {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.column {
  flex: 25%;
  padding: 5px;
}

/* Hobbies */
.hobbies {
  color: white;
  text-align: center;
}
